{% extends 'main/base.html' %}

{% block content %}
<img src="/media/{{ object.avatar }}" style="height: 300px; width: 300px; "/></img>
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Информация студента
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Имя</td>
                            <td>{{ object.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Фамилия</td>
                            <td>{{ object.last_name }}</td>
                        </tr>
                        <tr>
                            <td>Почта</td>
                            <td>{{ object.email }}</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Предметы студента
                    </h3>
                </div>
                <div class="card-body">
                    {% for subject in subjects %}
                    <table class="table">
                        <tr>
                            <td>Предмет</td>
                            <td>{{ subject.title }}</td>
                        </tr>
                        <tr>
                            <td>Описание</td>
                            <td>{{ subject.description }}</td>
                        </tr>
                    </table>
                    <ul>
                        <li>
                            {{ subject }}
                        </li>
                    </ul>
                    {% endfor %}
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
